.friendList{
  display:flex;
  flex-wrap: wrap;
}
.friendItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
 }
.friendItem img{
 height: 50px;
 width: 50px;
}
.friendItem button{
  height: 30px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  color:white;
  background-color: rgb(239, 76, 69);
  border: none;
 }
 .selected{
  color: rgb(239, 76, 69);
  font-weight: bold;
}
.paginationList{
display: flex;
justify-content: center;
align-items: center;
font-size: 0.7rem;
cursor: pointer;
}
.paginationList span{
  margin: 0.1rem;
}
