.header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background:rgb(99%, 80%, 73%);
    padding-top: 10px;
    padding-left: 50px;
    margin-bottom: 50px;
    width:80%;
  }

  ul{
    padding: 0 25px 0 25px;
  }
  
  li{
   list-style-type: none;
   margin-right: 15px;
   color:rgb(239, 76, 69);
   cursor: pointer;
   font-size: 0.8rem;
  }
  