.appPost{
  margin: 20px 10px;
}
.appPostList{
  display:grid;
  grid-template-columns: 30% 70%;
}
.appPostForm{
  display: flex;
  flex-direction: column;
}
.appPostInput{
   width: 80%;
   height: 40px;
   border: none;
   padding:10px;
  }

.appPostButton{
    background:rgb(239, 76, 69);
    cursor: pointer;
    border:none;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 10px;
  }

  .appPost span{
    margin-left: 10px;
    color: rgb(239, 76, 69);
    font-size: 0.8rem;
  }

  