.appPost{
  margin: 50px;
}
.appPostForm{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.appPostInput{
   width: 80%;
   height: 40px;
   border: none;
   padding:10px;
  }

.appPostButton{
    background:rgb(239, 76, 69);
    cursor: pointer;
    border:none;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 40px;
  }

  .appPost span{
    margin-left: 50px;
    color: rgb(239, 76, 69);
    font-size: 0.8rem;
  }

  