html{
  box-sizing: border-box;
  font-size: 16px;
}

body{
  background-color:rgb(242, 242, 242);
}

ul{
  padding: 0 25px 0 25px;
}

li{
 list-style-type: none;
 margin-right: 15px;
 color:rgb(239, 76, 69);
 cursor: pointer;
 font-size: 0.8rem;
}

h3{
 margin-top: 30px;
 margin-bottom: 0;
}

p{
   font-size: 0.8rem;
}
a{
  color:rgb(239, 76, 69);
  padding: 10px;
  cursor: pointer;
}

.app_wrapper{
  display:grid;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
}

header{
  grid-column: span 2/auto;
  display: flex;
  justify-content: space-around;
  background:rgb(99%, 80%, 73%);
  margin-bottom: 50px;
}

.app_nav{
  display: flex;
  justify-content: flex-end;
  color:aliceblue;
}

form{
  position: relative;
  padding: 10px 35px 0 35px;
}

.search_input{
  position: relative;
  width: 200px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
  outline: none;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.search_button {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 11px;
  right: 35px;
  background:rgb(239, 76, 69);
  cursor: pointer;
  border:none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.search_button:before {
  content: url(./images/loupe.png);
}

.app_profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 30%;
  margin-right: 10%;
}

.app_profile-red{
  width: 100%;
  height: 120px;
  background: rgb(239, 76, 69);
}

.app_profile-white{
  width: 100%;
  height: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_profile img{
  position: absolute;
  top: 35px;
  z-index: 1;
  border: 5px solid white;
  border-radius: 50%;
}
.app_profile_statistic{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 10px;
  border-top: 1px solid rgb(242, 242, 242);
  border-bottom: 1px solid rgb(242, 242, 242);
}
.app_profile_statistic span{
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
}
.app_post form{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.app_post_input{
 width: 80%;
 height: 40px;
 border: none;
 margin: 10px;
 padding: 10px 10px 10px 30px;
}
.app_post_button{
  background:rgb(239, 76, 69);
  cursor: pointer;
  border:none;
  border-radius: 5px;
  color: white;
  width: 120px;
  height: 50px;
}