.dialogs{
    display: grid;
    grid-template-columns: 1fr 8fr;
}
  
li{
    color: grey;
    padding-bottom: 20px;
}

.dialog{
    border-right: 3px solid grey;
}
.dialogInput{
    height: 40px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
   }
 
 .dialogButton{
     background:rgb(239, 76, 69);
     cursor: pointer;
     border:none;
     border-radius: 5px;
     color: white;
     width: 120px;
     height: 40px;
   }